@media all and (max-width: 1000px){
    #desc #PunteroAqui{
    height:100px;
    }
    #desc p {
      font-size: 10px;
      }
      #desc #bot{
        height:30px;
        }
    }
    
    
    
    /* ***************************************
    NAVEGACION
    *********************************************/
    *{
        margin:0px;
        padding:0px;
        box-sizing:  border-box;
    }
    .encabezado{
        max-width: 100%;
        overflow:hidden;
    }
    .encabezado img{
        width: 20%;
        float: left;
    }
    .encabezado h1{
        font-family: Arial;
        font-size: 64px;
        color:blue;
    }
    .encabezado nav{
        max-width:100%;
        margin:0%;
        background-color:dimgrey;
        overflow:  hidden;
      
    }
    .encabezado a{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
        color: aliceblue;
        text-decoration: none;
        float:left;
        text-align: center;
        padding: 2% 3%;
    }
    .clearfix::after{
        content:"";
        display: table;
        clear:both;
        
    }
    
    .encabezado a:hover{
        background-color: deepskyblue;
        color:black;
    }
    .banner{
        max-width:100%
       
    
    
    }
    .banner img{
        width :50%;
        padding:1%;
        height: 350px;
      
    }
    
        /* ***************************************
    footer
        *********************************************/
    
        footer{
          font-size: 0.75em;
          text-align: center;
          padding-top: 50px;
          color: rgba(204, 204, 204, 0);
          clear: both;/*quiere decir q no tendra ningun elemento ni a la derecha ni a
          a la izquierda, basicamente para que se pueda quedar abajo*/
        }
   
    
    
    
      /* ***************************************
    COLORS
      *********************************************/
    
      /*LINKS */
    a{
      color:red;
      font-family: cursive;
    }
    /*ENCABEZAO*/
    header{
      background:black;
      border-color:red;
    }
    /*TEXTO DEL LOGO*/
    h1,h2{ text-align: center;
      color: rgb(180, 31, 31);
      font-family: cursive;
    }
    /*NAVEGACION*/
    nav{
      background:red;
    }
    /*LINKS DE NAVEGACION*/
    nav a, nav a:visited{
      color:#f5f5f5;
    }
    /*LINKS DE SELECCIONADOS*/
    nav a.selected, a:hover {
      color:#f5f5f5;
    }
    /*CUERPO*/
    body{
      background-color:black;
      color:#fff;
    }
   
  p{
      color: aliceblue;
      font-family: cursive;
  }
      
  
    
      
     
      #PunteroAqui:hover{ width:500px; height:500px; 
      
        }
       #PunteroAqui{
         
  object-fit:contain;
        width:300px; 
          height:300px; 
          overflow:hidden; 
  
          border-radius: 20px;
          
           
          margin: 20px;
     
          transition: all 0.55;
         background-color: antiquewhite;
          } 
          
      #BOT:hover{
  
  
      margin-left: 0%;
          width:70%;
  }
       #BOT{
         margin-left: 0%;
        width:30%;
  object-fit:contain;
        width:150px; 
          height:50px; 
          overflow:hidden; 
  box-shadow: 0 2px 2px rgba(226, 17, 17, 0.2);
          border-radius: 20px;
        
          font-family: cursive;
          margin: 20px;
       align-items: center;
          transition: all 0.55;
         background-color:darkgray; 
          } 
  
  /*animacion para el carrito*/
  #car{
      animation-duration:4s;
      animation-name: car;
     
  }
    
    @keyframes car {
      from {
        margin-left: 500%;
        width:50%;
      }
      to{
          margin-left: 0%;
          width:70%;
        }
  
      }
  
  
  body {
  
      background-repeat:repeat;
   background-color: black;
      
      backdrop-filter: blur(8px);
  }
  
  #desc{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
  }
  