
    
    
    /* ***************************************
    NAVEGACION
    *********************************************/
    *{
        margin:0px;
        padding:0px;
        box-sizing:  border-box;
    }
    .encabezado{
        max-width: 100%;
        overflow:hidden;
    }
    .encabezado img{
        width: 20%;
        float: left;
    }
    .encabezado h1{
        font-family: Arial;
        font-size: 64px;
        color:blue;
    }
    .encabezado nav{
        max-width:100%;
        margin:0%;
        background-color:dimgrey;
        overflow:  hidden;
      
    }
    .encabezado a{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
        color: aliceblue;
        text-decoration: none;
        float:left;
        text-align: center;
        padding: 2% 3%;
    }
    .clearfix::after{
        content:"";
        display: table;
        clear:both;
        
    }
    
    .encabezado a:hover{
        background-color: deepskyblue;
        color:black;
    }
    .banner{
        max-width:100%
       
    
    
    }
    .banner img{
        width :50%;
        padding:1%;
        height: 350px;
      
    }
    
        /* ***************************************
    footer
        *********************************************/
    
        footer{
          font-size: 0.75em;
          text-align: center;
          padding-top: 50px;
          color: rgba(204, 204, 204, 0);
          clear: both;/*quiere decir q no tendra ningun elemento ni a la derecha ni a
          a la izquierda, basicamente para que se pueda quedar abajo*/
        }
   
    
    
    
      /* ***************************************
    COLORS
      *********************************************/
    
  
    /*CUERPO*/
    body{
      background-color:white;
    
    }
   
  p{
      color:black ;
      font-family: cursive;
  }
  .tabla{
    margin-top: 4%;
    margin-left: 4%;
    margin-right: 4%;
  }
      
  .fila{
    max-width:100%;
    margin-left:3;
    margin-right:3%
}
.columna{
  width:40%;
  margin:auto;
  float:left;
  padding:0.5%;
}
  
    
      
     
      #PunteroAqui:hover{ width:100%; height:300%; 
      
        }
       #PunteroAqui{
         
  object-fit:contain;
        width:300px; 
          height:300px; 
          overflow:hidden; 
  
          border-radius: 20px;
          
           
          margin: 20px;
     
          transition: all 0.55;
         background-color: rgba(36, 36, 35, 0.015);
          } 
          
      #BOT:hover{
  
  
      margin-left: 0%;
          width:70%;
  }
       #BOT{
         margin-left: 0%;
        width:30%;
  object-fit:contain;
        width:150px; 
          height:50px; 
          overflow:hidden; 
  box-shadow: 0 2px 2px rgba(226, 17, 17, 0.2);
          border-radius: 20px;
        
          font-family: cursive;
          margin: 20px;
       align-items: center;
          transition: all 0.55;
         background-color:darkgray; 
          } 
  #desc{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
  }
  